<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pendientes</title>
  <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/app.css" />
  <link rel="stylesheet" type="text/css" href="../../css/fontello.css" />
</head>

<body>
  <div class="row">
    <div class="col s12">
      <h3 class="center">Pendientes</h3>
      <div class="container" id="container-pendientes">
        <ul id='data-pendientes' class="collapsible popout collection">
        </ul>
      </div>
    </div>
  </div>
  <script>
    require('../../js/pen-init.js')
  </script>
</body>

</html>