<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Páginas</title>
  <link rel="stylesheet" type="text/css" href="../../node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="../../css/app.css" />
</head>

<body>
  <div class="row">
    <div class="col s4 no-padding">
      <ul class="collapsible anime-paginas-list no-margin z-depth-0 " id="menu" data-collapsible="accordion">
      </ul>
    </div>
    <div class="col s8">
      <canvas id="pagCapVistos" height="450"></canvas>
    </div>
  </div>
  <script>require('../../js/anime-paginas-init.js')</script>
</body>

</html>